{
    BasedOnStyle: Google,
    ColumnLimit: 132,
    UseTab: Always,
    IndentWidth: 4,
    TabWidth: 4,
    SeparateDefinitionBlocks: Always,
    EmptyLineBeforeAccessModifier: LogicalBlock,
    ReflowComments: true,
}