{
    BasedOnStyle: LLVM,
    ColumnLimit: 132,
    UseTab: Always,
    IndentWidth: 4,
    TabWidth: 4,
    #AccessModifierOffset: 0,
    IndentAccessModifiers: true,
#    SeparateDefinitionBlocks: Always,
#    EmptyLineBeforeAccessModifier: LogicalBlock,
#    ReflowComments: true,
}